@use '@angular/material' as mat;
.feedbackContainer  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h3 {
        padding: 0px !important;
        margin: 6px !important;
    }

}

.circleValid {
    @include mat.elevation-transition();
    @include mat.elevation(5);
    border-radius: 50%;
    padding: 6px;
    margin: 6px;
}

.circleInvalid  {
    @include mat.elevation-transition();
    @include mat.elevation(0);
    border-radius: 50%;
    padding: 6px;
    margin: 6px;

    &:hover {
        @include mat.elevation(4);
        cursor: pointer;
    }
}