<div class="container text-center">
    <app-title title="Feedback" text="Hier können Sie das Feedback der Patienten einsehen"></app-title>
    <button [routerLink]="backLink" class="mt-2 mb-3 btn col-2">Zurück</button>
    <table class="table table-striped shadow bg-white rounded border border-secondary list mx-auto">
        <thead>
          <tr>
            <th scope="col">Datum</th>
            <th scope="col">Smiley</th>
            <th scope="col">Text</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listElements">
            <th scope="row">{{item.created | date:'d/M/yy HH:mm'}}</th>
            <td *ngIf="item.resultPoints[0].option">{{item.resultPoints[0].option.textValue}}</td>
            <td *ngIf="item.resultPoints[1].option">{{item.resultPoints[1].option.textValue }}</td>
            <td *ngIf="item.resultPoints[0].textValue">{{item.resultPoints[0].textValue}}</td>
            <td *ngIf="item.resultPoints[1].textValue">{{item.resultPoints[1].textValue}}</td>   
            <td *ngIf='item.resultPoints[0].textValue == "" || item.resultPoints[1].textValue == ""'>{{null}}</td>            
          </tr>
        </tbody>
      </table>
</div>