// .ng-valid[required], .ng-valid.required  {
//     border-left: 5px solid #42A948; /* green */
//   }
  
.ng-invalid[required]  {
  border-color: #a94442;
}

ul {
  max-height: 300px;
  overflow-y: scroll;
}