.button-divider {
  border-style: solid;
  border-color: #e0e0e0;
  border-left-width: thin;
  border-right-width: thin;
  width: 10px;
  border-top: 0;
  border-bottom: 0;
  margin: 0;
}

.button-group {
  overflow-x: auto;
}
