<h1 mat-dialog-title role="heading">Edit User</h1>

<form role="form" [formGroup]="userForm" (ngSubmit)="submit()">
  <mat-dialog-content role="main">
    <p>Edit user {{ data.username }}</p>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>

      <mat-icon matPrefix>password</mat-icon>
      <input autocomplete="new-password" autofocus cdkFocusInitial formControlName="password" matInput
        [maxlength]="passwordMaxLength" [minlength]="passwordMinLength" [type]="hidePassword ? 'password' : 'text'">

      <button *ngIf="hidePassword" aria-label="Show password" mat-icon-button matSuffix matTooltip="Show" tabindex="-1"
        type="button" (click)="toggleHidePassword()">
        <mat-icon>visibility</mat-icon>
      </button>
      <button *ngIf="!hidePassword" aria-label="Hide password" mat-icon-button matSuffix matTooltip="Hide" tabindex="-1"
        type="button" (click)="toggleHidePassword()">
        <mat-icon>visibility_off</mat-icon>
      </button>

      <button aria-label="Copy password" mat-icon-button matSuffix matTooltip="Copy" tabindex="-1" type="button"
        [disabled]="!userForm.controls.password.valid" (click)="copyPassword()">
        <mat-icon>content_copy</mat-icon>
      </button>

      <button mat-icon-button matSuffix matTooltip="Generate" tabindex="-1" type="button" (click)="generatePassword()">
        <mat-icon>refresh</mat-icon>
      </button>

      <mat-hint *ngIf="(userForm.controls.password.value?.length || 0) < passwordMinLength">Min {{ passwordMinLength }}
        characters</mat-hint>
      <mat-hint *ngIf="(userForm.controls.password.value?.length || 0) < passwordMinLength" align="end">{{
        userForm.controls.password.value?.length || 0 }}/{{ passwordMinLength }}</mat-hint>

      <mat-hint *ngIf="(userForm.controls.password.value?.length || 0) >= passwordMinLength">Max {{ passwordMaxLength }}
        characters</mat-hint>
      <mat-hint *ngIf="(userForm.controls.password.value?.length || 0) >= passwordMinLength" align="end">{{
        userForm.controls.password.value?.length || 0 }}/{{ passwordMaxLength }}</mat-hint>

      <mat-error *ngIf="userForm.controls.password.hasError('minlength')">Password must have <strong>at least {{
          passwordMinLength }} characters</strong></mat-error>
      <mat-error *ngIf="userForm.controls.password.hasError('maxlength')">Password must have <strong>at most {{
          passwordMaxLength }} characters</strong></mat-error>
      <mat-error *ngIf="userForm.controls.password.hasError('lowercase')">Password must have <strong>at least one lower
          case letter</strong></mat-error>
      <mat-error *ngIf="userForm.controls.password.hasError('uppercase')">Password must have <strong>at least one upper
          case letter</strong></mat-error>
      <mat-error *ngIf="userForm.controls.password.hasError('digit')">Password must have <strong>at least one
          digit</strong></mat-error>
      <mat-error *ngIf="userForm.controls.password.hasError('special')">Password must have <strong>at least one special
          char of {{ passwordSpecialChars }}</strong></mat-error>
      <mat-error *ngIf="userForm.controls.password.hasError('pattern')">Password must contain <strong>only lower and
          upper case letters, digits, or one of {{ passwordSpecialChars }}</strong></mat-error>
    </mat-form-field>

    <br>
    <br>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Group</mat-label>

      <mat-icon matPrefix>group</mat-icon>
      <mat-select formControlName="group">
        <mat-option value="admin">Administrator</mat-option>
        <mat-option value="therapist">Therapist</mat-option>
        <mat-option value="patient">Patient</mat-option>
      </mat-select>

      <mat-error *ngIf="userForm.controls.password.hasError('pattern')">Group must be one of <strong>Administrator,
          Patient, or Therapist</strong></mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button aria-label="Cancel" mat-button mat-dialog-close type="reset">Cancel</button>
    <button aria-label="Apply" color="accent" mat-button type="submit" [disabled]="!userForm.valid"
      (click)="submit()">Apply</button>
  </mat-dialog-actions>
</form>