#pic-svg{
  display: block;
  margin:auto;
  height: 350px;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  #pic-svg{
  height: 400px;
} }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  #pic-svg{
    height: 500px;
  }
 }
 
 .avatar{
  background-color: white;
  border-radius: 20px;
  border-color: black;
  border-width: 1px;
}